# Project exclude paths
/build/
/build/classes/java/main/EarningMoney.kt
gradle/
build/
.idea/
.gradle/
gradle.properties
gradlew
gradlew.bat
settings.gradle.kts
/src/main/kotlin/me/aggellos2001/ksurvivaleuplugin/listeners/EarningMoney.kt